<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>@ViewData["Title"] | Flm Auto & Rent</title>

    <!-- STYLESHEET  !-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css">
    <link rel="stylesheet" href="/adminroot/css/index.css" />
    <!-- END STYLESHEET  !-->

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="handheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="cleartype" content="on" />
    <meta name="robots" content="admin Areas, nofollow">
    <meta http-equiv="content-type" content="text/html;">
    <meta http-equiv="content-language" content="it">
    <meta property="og:title" content="Flm Auto & Rent"/>

    <link rel="icon" type="image/png" href="/adminroot/favicon.ico"/>
</head>
<body>
    
    @await Component.InvokeAsync("NavHeader")
    @await Component.InvokeAsync("NavAside")
    
    <main role="main">
        @RenderBody()
    </main>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="/adminroot/js/common.js"></script>
    <script src="/adminroot/js/homepage.js"></script>
    <script>
        $(document).ready(function(){
            Common.init();
            homepage.init();
        })
    </script>

    <!-- <script src="/adminroot/js/index.js" asp-append-version="true"></script> !-->
    @RenderSection("Scripts", required: false)
</body>
</html>
