<section class="display-flex flex-direction-column justify-content-center text-center">
    <h2 class="text-center font-weight-600">Conferma Invio Email</h2>
    <p class="text-center font-weight-500 margin-remove">La Ringraziamo per aver scelto FLM Auto & Rent, a breve riceverà una mail di conferma avvenuto contatto</p>
    <a href="/" class="btn background-color-red color-white text-center">Torna alla Home</a>
</section>
