<div class="display-flex flex-direction-column justify-content-flex-start background-color-red modal-error">
    <section class="display-flex flex-direction-column flex-align-end">
        <span class="close"><i class="material-icons color-white">close</i></span>
    </section>
    <h2 class="color-white">Email o UserID Presenti</h2>
</div>
